body {
    display: flex;
    flex-direction: column;  /* Set the main axis to be vertical */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    max-width: 100%;
    font-size: 16px;
}

#textId {
    order: 1;  /* Set order to 1 to appear above #container */
    margin: 10px; /* Reduce margin */
    font-size: 18px; /* Adjust font size */
    font-weight: bold;
    text-align: center;
    color: #0e0d0d;
}

#container {
    order: 2;  /* Set order to 2 to appear below #textId */
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5%;
    width: 20%;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    margin: 10px; /* Reduce margin */
    padding: 10px; /* Increase padding for better touch interaction */
}

.green {
    margin: 20px;
}

.yellow {
    margin: 20px;
}

span {
    margin: 5px;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
}

@media (max-width: 768px) {
    body {
        font-size: 14px; /* Further reduce font size */
    }

    #textId {
        font-size: 16px; /* Further reduce font size */
    }

    #container {
        width: 90%; /* Adjust width for smaller screens */
    }

    .btn {
        padding: 8px; /* Further increase padding */
    }
}